html, body{
  height:100%;
}

body{
  background: #f3f5fc;
  display:flex;
  flex-direction: column;
  margin: 0px;
}

nav{
  font-family:  "SF Pro Display","SF Pro Icons","Helvetica Neue","Helvetica","Arial",sans-serif;
  font-weight: 600;
  height: 4rem;
  margin: auto;
  display:grid;
  align-items: center;
  font-size: xx-large;
}

main{
  width: auto !important;
  height:auto;
  margin-right: 2.2rem;
  margin-left: 3rem;
  flex: 1 0 auto;
}

a:link{
  text-decoration: none;
  font-family: sans-serif;
  font-weight: 500;
  color:#afafaf;
  font-size:small;
}

a:visited {
  color:#afafaf;
}

.totalArea{
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center; /* alterado de 'space-around' para 'center' */
  flex-wrap: wrap; /* alterado de 'flex-flow' para 'flex-wrap' */
}

.resultBox{
    height:35rem;
    background-color:white;
    width: 100%; /* alterado de '27.8vw' para '100%' */
    max-width: 350px; /* adicionado uma largura máxima para dispositivos menores */
    margin: 10px; /* adicionado uma margem para dispositivos maiores */
    box-shadow: 0px 24px 32px -8px rgba(0, 0, 0, 0.08);
    border-radius: 32px;
}

.enterBox{
  width: 100%; /* alterado de '62.5vw' para '100%' */
  max-width: 850px; /* adicionado uma largura máxima para dispositivos menores */
  margin-right: 10px; /* adicionado uma margem para dispositivos maiores */
  margin-top: 10px; /* adicionado uma margem para dispositivos maiores */
}

.entrada{
  height:400px;
  width:100%;
  background: #f3f5fc;
}

textarea:readonly{
  background-color: white;
}

textarea::placeholder{
    position: absolute;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 150%;
    color: #0A3871;
}

textarea {
  /*Tirar os "rsiquinhos" do textarea*/
  resize: none;
  font-style: normal;
  border:none;
  padding: 15px;
  font-size:larger;

  left: 240px;
  top: 168px;
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 150%;
  background-color: #ffffff00;
  color: #0A3871;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.resultArea{
    width:100%;
    height: 480px;
    border-radius: 32px;
    color: #495057 !important;
    cursor: auto;
}

.placeholder{
    background-image: url(textareaImg.svg);
    background-repeat: no-repeat;
    height: 90%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

textarea:focus {
  box-shadow: 0 0 0 0;
  outline: 0;
}

h2,h3,h6{
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 150%;
    flex: none;
    order: 1;
    flex-grow: 0;
    margin-left: .7rem;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
h6{
  color: #495057;
  opacity: 0.8;
}
h2,h3{
  text-align: center;
}

h2{
  font-weight: 700;
  color: #343A40;
  font-size: 24px !important;
  /* or 24px */
}
h3{
  color: #495057;
}

.alerta::before{
  /*content:"(!)";*/
  font-size: x-large;
}

.buttons{
  cursor: pointer;
  display:flex;
  justify-content: space-evenly;
  margin: auto;
}

button{
  cursor: pointer;
  margin-top:1%;
  padding:10px;
  border-radius: 20px;
}

.btCript{
    cursor: pointer;
    width: 328px;
    height: 67px;
    background-color: #0a3871;
    color: white;
    border: none;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    padding: 1.1rem;
    }

.btDescript{
    cursor: pointer;
    width: 328px;
    height: 67px;
    background-color: #d8dfe8;
    color: #0a3871;
    border: 2px solid #0a3871;
    padding: 1.1rem;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
}
.btCopy{
    cursor: pointer;
    background-color: white;
    color: #0a3871;
    border: 2px solid #0a3871;
    padding: 1.1rem;
    width: 288px;

    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    /* Inside auto layout */

    flex: none;
    order: 0;
    flex-grow: 1;

}

footer{
    bottom: 0;
    font-family: sans-serif;
    font-weight: 500;
    color:#afafaf;
    font-size:small;
    margin: auto;
/*    margin-top:.8rem;*/
    flex-shrink: 0;
}
